* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    --maincolor: #48C1A3;
    color: black;
}

/* 头部搜索区域 */

header {
    position: relative;
    width: 100%;
    height: 30vw;
    background: linear-gradient(to top, #39C4C9, #72DBD5);
    border-radius: 0 0 10% 10%;
}

header h1 {
    position: absolute;
    color: white;
    top: 5%;
    left: 5%;
    font-size: 7vw;
}

.searcher {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 10vw;
    border-radius: 5vw;
    background-color: white;
    box-shadow: 0 0.5vw 3vw rgba(135, 206, 255, 0.3);
}

.searcher img {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    left: 5%;
    width: 4vw;
}

.search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 85%;
    height: 10vw;
    line-height: 10vw;
    font-size: 3.2vw;
    border: none;
}

.search:focus {
    outline: none;
}

.search::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

/* 上方功能区 */

main {
    position: relative;
    width: 100%;
    margin-top: 10vw;
    margin-bottom: 25vw;
}

.function-area1,
.function-area2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5vw;
}

.function-area1 a,
.function-area2 a {
    text-align: center;
}

.function-area1 img {
    width: 13vw;
    height: 13vw;
}

.function-area2 img {
    width: 10vw;
    height: 10vw;
}

.up {
    font-size: 4vw;
    font-weight: 500;
    margin-bottom: 1vw;
}

.down {
    font-size: 3vw;
    color: rgba(0, 0, 0, 0.4);
}

.function-area2 p {
    font-size: 3.5vw;
    color: rgba(0, 0, 0, 0.8);
}

/* 广告区 */

.advertisement img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

/* 导航栏 */

nav {
    /* position: sticky; */
    display: flex;
    gap: 6.5vw;
    padding: 0 5vw 0 5vw;
}

nav a {
    height: 10vw;
    margin: 2.5vw 0;
    text-align: center;
    line-height: 10vw;
    color: rgba(0, 0, 0, 0.6);
}

nav a:focus {
    color: black;
    border-bottom: 1vw solid var(--maincolor);
}

/* 文章区 */

article {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5vw;
}

article .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article .upper img {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}

article .upper .description {
    width: 63%;
}

article .upper .description .name {
    font-size: 4vw;
}

article .upper .description .major {
    font-size: 3vw;
    color: rgba(0, 0, 0, 0.3);
}

article .upper .status {
    padding: 1vw 3vw;
    border: 1px solid var(--maincolor);
    border-radius: 5vw;
    font-size: 3.6vw;
    color: var(--maincolor);
}

article .down {
    margin-top: 2vw;
}

article .down .title {
    font-size: 5vw;
    font-weight: 400;
    margin-bottom: 1vw;
}

article .down .essay {
    font-size: 3.5vw;
    text-indent: 2em;
    color: rgba(0, 0, 0, 0.6);

    /* 多行截断到两行并显示省略号 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;

    /* 确保行高稳定，方便计算高度（可按需调整） */
    line-height: 1.6em;
    max-height: calc(1.6em * 2);
}

article .down .images {
    display: flex;
    justify-content: space-around;
}

article .down img {
    width: 28vw;
    height: 18vw;
    border-radius: 2vw;
}

/* 底部导航条 */

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20vw;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    text-align: center;
}

footer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}